:root {
  --transition-delay: 200ms;
}

html {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.4;
  color: #222;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background: #fea;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.quarters {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.btn-quarter {
  font-size: 1em;
  padding: 10px;
  border: none;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: color var(--transition-delay) ease, background-color var(--transition-delay) ease;
}

.btn-quarter.is-active {
  background-color: #000;
  color: #fff;
}

main {
  flex-grow: 1;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(5,1fr);
  display: grid;
}

.cell {
  position: relative;
  padding: 10px;
  min-width: 0;
  border: 1px solid #fff;
}

input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
}

.timer {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-variant: tabular-nums;
}

.timer-control svg {
  font-size: 3rem;
}

svg {
  pointer-events: none;
}

.timer-toggle {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.addtimes {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.addtimes button {
  width: 38px;
  height: 38px;
  border: 1px black solid;
  border-radius: 50%;
  font-size: .9rem;
  font-variant: tabular-nums;
  user-select: none;
}

footer {
  font-size: 0;
  position: sticky;
  bottom: 0;
  flex-shrink: 0;
  padding: 15px;
  border-top: 1px #fff solid;
  text-align: center;
  background: #fea;
  button {
    font-size: 0;
  }
  svg {
    width: 42px;
    height: 42px;
  }
}

footer svg {
  font-size: 3rem;
}

.btn-stats {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 15px;
  font-size: 2rem;
  transform: translateY(-50%);
}

.btn-stats svg {
  display: block;
}

/* ----------------------------------------------------------
   Stats
   ------------------------------------------------------- */

dialog {
  border: 0;
    position: relative;

  .dialog-header {
    text-align: center;
    .dialog-title {
      margin: 0 0 15px;
      font-size:1.5rem;
    }
    .btn-reset {
      position: absolute;
      top: 0;
      right: 0;
      padding: 16px;
      font-size: 0;
      svg {
          font-size: 1.5rem;
      }
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
  }
}

table {
  th,
  td {
    padding: 0 5px;
  }

  td {
    font-variant-numeric: tabular-nums;

    &:last-child {
      text-align: center;
    }
  }
}

.timer-control {
  margin-top: 15px;
  text-align: center;
  & button {
    padding: 8px;
  }
  & svg {
    width: 24px;
    height: 24px;
  }
}
